div{
    width: 150px;
    height: 150px;
    border: 2px solid black;
    display: inline-block;
}

#static #middle{
    position: static;
    top: 100px;
    bottom: 200px;
    right: 300px;
    left:50px;
}

#relative #middle{
    position: relative;
    left: 50px;
    top: 40px;
}

#absolute{
    position: relative;
    border: 2px solid black;
}

#absolute #middle{
    position: absolute;
    top: 50px;
    left: 100px;
}

#fixed #middle{
    position: fixed;
    top: 10px;
    right: 0px;
}